In [14]:
import pandas as pd
import numpy as np

Reading the csv files in a table

In [15]:
df = pd.read_csv("participants_dataset.csv")

print("INFO SUR LE SET")
df.info()
print("HEAD")
df.head()

print("LE DATA FRAME")
df

INFO SUR LE SET
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7214 entries, 0 to 7213
Data columns (total 53 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ID                       7214 non-null   int64
 1   name                     7214 non-null   object
 2   first                    7214 non-null   object
 3   last                     7214 non-null   object
 4   compas_screening_date    7214 non-null   object
 5   sex                      7214 non-null   object
 6   dob                      7214 non-null   object
 7   age                      7214 non-null   int64
 8   age_cat                  7214 non-null   object
 9   race                     7214 non-null   object
 10  juv_fel_count            7214 non-null   int64
 11  decile_score             7214 non-null   int64
 12  juv_misd_count           7214 non-null   int64
 13  juv_other_count          7214 non-null   int64
 14  priors_count             7214 non-null   int64
 15  days_b_screening_arrest  6907 non-null   float64
 16  c_jail_in                6907 non-null   object
 17  c_jail_out               6907 non-null   object
 18  c_case_number            7192 non-null   object
 19  c_offense_date           6055 non-null   object
 20  c_arrest_date            1137 non-null   object
 21  c_days_from_compas       7192 non-null   float64
 22  c_charge_degree          7214 non-null   object
 23  c_charge_desc            7185 non-null   object
 24  is_recid                 7214 non-null   int64
 25  r_case_number            3471 non-null   object
 26  r_charge_degree          3471 non-null   object
 27  r_days_from_arrest       2316 non-null   float64
 28  r_offense_date           3471 non-null   object
 29  r_charge_desc            3413 non-null   object
 30  r_jail_in                2316 non-null   object
 31  r_jail_out               2316 non-null   object
 32  violent_recid            0 non-null      float64
 33  is_violent_recid         7214 non-null   int64
 34  vr_case_number           819 non-null    object
 35  vr_charge_degree         819 non-null    object
 36  vr_offense_date          819 non-null    object
 37  vr_charge_desc           819 non-null    object
 38  type_of_assessment       7214 non-null   object
 39  decile_score.1           7214 non-null   int64
 40  score_text               7214 non-null   object
 41  screening_date           7214 non-null   object
 42  v_type_of_assessment     7214 non-null   object
 43  v_decile_score           7214 non-null   int64
 44  v_score_text             7214 non-null   object
 45  v_screening_date         7214 non-null   object
 46  in_custody               6978 non-null   object
 47  out_custody              6978 non-null   object
 48  priors_count.1           7214 non-null   int64
 49  start                    7214 non-null   int64
 50  end                      7214 non-null   int64
 51  event                    7214 non-null   int64
 52  label                    5771 non-null   float64
dtypes: float64(5), int64(15), object(33)
memory usage: 2.9+ MB
HEAD
LE DATA FRAME

,ID,name,first,last,compas_screening_date,sex,dob,age,age_cat,race,...,v_decile_score,v_score_text,v_screening_date,in_custody,out_custody,priors_count.1,start,end,event,label
0,452,steven lux,steven,lux,2013-01-05,Male,1953-06-15,62,Greater than 45,Caucasian,...,1,Low,2013-01-05,2014-03-25,2014-03-26,0,2,444,0,0.0
1,573,andre small,andre,small,2013-04-03,Male,1987-10-01,28,25 - 45,African-American,...,3,Low,2013-04-03,2013-04-02,2013-04-04,1,1,1094,0,0.0
2,4952,willie gray,willie,gray,2014-10-31,Male,1959-01-12,57,Greater than 45,African-American,...,2,Low,2014-10-31,2014-10-31,2014-10-31,8,0,265,1,1.0
3,3521,nickson marcellus,nickson,marcellus,2014-01-23,Male,1996-07-11,19,Less than 25,African-American,...,10,High,2014-01-23,2016-01-05,2016-02-26,1,0,711,1,1.0
4,369,patria barnes,patria,barnes,2013-12-09,Female,1978-06-06,37,25 - 45,Other,...,1,Low,2013-12-09,2013-12-08,2013-12-09,0,0,844,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7209,2361,cindy stillman,cindy,stillman,2013-08-11,Female,1967-01-06,49,Greater than 45,Caucasian,...,1,Low,2013-08-11,2013-08-10,2013-08-22,2,11,245,1,NaN
7210,1865,mario brown,mario,brown,2013-11-20,Male,1979-11-24,36,25 - 45,Caucasian,...,1,Low,2013-11-20,2013-11-19,2013-12-14,0,24,863,0,NaN
7211,4086,andre barrington,andre,barrington,2014-01-24,Male,1989-06-12,26,25 - 45,African-American,...,10,High,2014-01-24,2014-05-04,2014-05-09,13,7,100,0,NaN
7212,4569,tyson harper,tyson,harper,2013-08-29,Male,1978-10-02,37,25 - 45,Caucasian,...,1,Low,2013-08-29,2014-07-18,2014-12-02,5,0,323,0,NaN
7213,8403,shawn smith,shawn,smith,2014-09-23,Male,1996-07-10,19,Less than 25,African-American,...,7,Medium,2014-09-23,2014-10-16,2014-12-12,0,0,23,1,NaN